.container-listcards__title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-listcards__list-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-listcards__title-group button:hover {
  color: var(--color-black);
}
