.dropdown-btn {
  width: 16rem;
  height: 3.5rem;
  border: 2px solid var(--color-gray);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

.container-dropdown-item {
  width: 16rem;
}
