#container-quantity-input {
  width: 6.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: 0.25rem;
}

#container-quantity-input > div,
#container-quantity-input > button {
  flex: 1;
}

#container-quantity-input > div {
  border: none;
}

#container-quantity-input input {
  text-align: center;
  background-color: var(--color-gray);
  color: var(--color-dark-gray);
  border: none;
}
