#container-cart {
}

#container-cart > p {
  text-align: center;
  margin-bottom: 4rem;
}

.container-cart__content {
  display: flex;
}

.container-cart__list-shopping-cart {
  width: 36.1rem;
}

.container-cart__list-shopping-cart > div {
  margin-bottom: 2.44rem;
}

.container-cart__list-shopping-cart--couponcode {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-cart__list-shopping-cart--couponcode > div {
  width: 100%;
}

.container-cart__list-shopping-cart--couponcode > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.container-cart__total-cart-content {
  width: 28.875rem;
  margin-left: 5.5rem;
}

.container-cart__total-cart-content > p:nth-child(1) {
  margin-bottom: 2.75rem;
}

.container-cart__total-cart-content > div:nth-child(2) {
  margin-bottom: 1.44rem;
}

.container-cart__total-cart-content__label-item {
  display: flex;
  align-items: flex-start;
}

.container-cart__total-cart-content > div:nth-child(4) {
  margin-top: 2.44rem;
  margin-bottom: 2.81rem;
  padding-top: 2.63rem;
  border-top: 1px solid var(--color-gray);
  justify-content: space-between;
}

.container-cart__total-cart-content__label-item > p {
  margin-right: 8rem;
}

.container-cart__total-cart-content__label-item--content > p {
  margin-bottom: 2.44rem;
}

.container-cart__total-cart-content > a {
  width: 28.875rem !important;
  height: 3.31rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
