@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

#root {
  /* COLORS */
  --color-Accent: #a18a68;
  --color-White: #ffffff;
  --color-White-transparent: rgba(255, 255, 255, 0.5);
  --color-Black: #000000;
  --color-DarkGray: #707070;
  --color-Gray: #d8d8d8;
  --color-LightGray: #efefef;
  --color-Errors: #d82700;

  /*Font-Family*/
  --Font-Family: "DM Sans";

  /* Font-Weight */
  --Font-Weight-Regular: 400;
  --Font-Weight-Medium: 500;
  --Font-Weight-Bold: 700;

  /* SIZE */
  --text-16px: 16px;
}
