/* filter colors */
.filter-red {
  filter: invert(26%) sepia(84%) saturate(6809%) hue-rotate(355deg)
    brightness(96%) contrast(121%);
}
/* text-colors */
.text-color-accent {
  color: var(--color-accent);
}

.text-color-black {
  color: var(--color-black);
}

.text-color-white {
  color: var(--color-white);
}

.text-color-dark-gray {
  color: var(--color-dark-gray);
}

.text-color-gray {
  color: var(--color-gray);
}

/* text-style */
.text-font-family_default {
  font-family: var(--Font-Family);
}

.text-default {
  font-weight: var(--font-weight-regular);
  font-size: var(--text-16px);
  line-height: 1.687rem;
}

.text-heading1 {
  font-weight: var(--font-weight-medium);
  font-size: 2.0625rem;
}

.text-heading2 {
  font-weight: var(--font-weight-regular);
  font-size: 1.625rem;
  line-height: 2.1875rem;
}

.text-heading3 {
  font-weight: var(--font-weight-regular);
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.text-heading4 {
  font-weight: var(--font-weight-medium);
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.text-heading5 {
  font-weight: var(--font-weight-regular);
  font-size: var(--text-16px);
  line-height: 1.6875rem;
}

.text-body-large {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-16px);
}

.text-body-medium {
  font-weight: var(--font-weight-regular);
  font-size: 0.875rem;
  line-height: 1.4rem;
}
