.container-home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-Gray);
  margin-bottom: 32px;
}

.container-home--header__navigation-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-home--header__navigation-child1 {
  border-right: 2px solid var(--color-DarkGray);
}

.container-home--header__navigation-child1 a {
  padding: 0 16px;
}

.container-home--header__navigation-child2 button {
  padding: 0 16px;
}
