.container-home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.container-home--header__navigation-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-home--header__navigation-child1 {
  border-right: 2px solid var(--color-dark-gray);
}

.container-home--header__navigation-child1 a,
.container-home--header__navigation-child2 a {
  padding: 1rem 1rem;
}

.container-home--header__navigation-child1 a.active,
.container-home--header__navigation-child2 a.active {
  border-bottom: 1px solid var(--color-black);
}
