.container-sidebar {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.container-sidebar__dropdown-group {
  margin-top: 40px;
}

.container-sidebar__switch-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
