#container-footer {
  border-top: 1px solid var(--color-gray);
}

#container-footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer_content-group1 {
  height: 5rem;
}

.container-footer_content-group1 a {
  color: var(--color-dark-gray);
  padding-right: 2rem;
}

.container-footer_content-group2 a {
  padding-left: 1rem;
}

.container-footer_content-group2 a i {
  color: var(--color-dark-gray);
}

.container-footer_content-group1 a:hover {
  color: var(--color-black);
}

.container-footer_content-group2 a:hover img {
  filter: saturate(500%) contrast(800%) brightness(500%) invert(80%) sepia(50%)
    hue-rotate(120deg);
}
