#container-footer {
  border-top: 1px solid var(--color-Gray);
}

#container-footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer_content-group1 {
  height: 80px;
}

.container-footer_content-group1 a {
  color: var(--color-dark-gray);
  padding-right: 32px;
}

.container-footer_content-group2 a {
  padding-left: 16px;
}

.container-footer_content-group2 a i {
  color: var(--color-dark-gray);
}

.container-footer_content-group1 a:hover {
  color: var(--color-Black);
}

.container-footer_content-group2 a:hover i {
  color: var(--color-Black);
}
