#container-shopdetail {
  display: flex;
}

.container-shopdetail__group-img {
  display: flex;
  flex-direction: column;
}

.container-shopdetail__group-img > button {
  width: 7.5rem;
  height: 6.5rem;
}

.container-shopdetail__main-img {
  width: 33.75rem;
  height: 37.5rem;
}

.container-shopdetail__content {
  padding: 1rem 0 0 1rem;
}

.container-shopdetail__content__title-group > p:first-child {
  padding-bottom: 1.5rem;
}

.container-shopdetail__content__label-group {
  margin-top: 4rem;
}

.container-shopdetail__content__description {
  width: 30.25rem;
  height: 6.75rem;
}

.container-shopdetail__content__button-group {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.container-shopdetail__content__button-group > button {
  width: 22.5rem;
  height: 3.3125rem;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  border-radius: 0.5rem;
  margin-left: 1.5rem;
}

.container-shopdetail__content__social-icon-group {
  margin-top: 5rem;
  margin-bottom: 2.25rem;
}

.container-shopdetail__content__categories_group > p {
  display: flex;
}
.container-shopdetail__content__categories_group > p > p {
  margin-left: 0.5rem;
}
/* common */

.container-shopdetail__group-img > button,
.container-shopdetail__main-img {
  margin: 1rem;
}

.container-shopdetail__group-img > button > img,
.container-shopdetail__main-img > img {
  width: 100%;
  object-fit: cover;
}
