.container-customInput {
  position: relative;
  border-bottom: 1px solid var(--color-black);
}

.container-customInput__icon {
  height: 1.5em;
  width: 1.5em;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}

.container-customInput__feild-content {
  height: 50px;
  box-sizing: border-box;
  padding-right: 2rem;
  border: none;
}
