.container-customInput {
  position: relative;
  border-bottom: 1px solid var(--color-black);
}

.container-customInput > p {
  margin-bottom: 1rem;
}

.container-customInput__icon {
  height: 1.5em;
  width: 1.5em;
  padding: 0.25rem;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 0.25rem;
  transform: translateY(-50%);
}

.container-customInput__feild-content {
  height: 3rem;
  box-sizing: border-box;
  padding-right: 2rem;
  border: none;
}
