#container-cardshop {
  width: 16rem;
}

.container-cardshop__image {
  position: relative;
}

.container-cardshop__image > button {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: var(--color-white-transparent);
  animation: buttonUp 0.2s;
}

.container-cardshop__image > button > p {
  margin: auto;
}

.container-cardshop__image > img {
  width: 100%;
}

.container-cardshop__label-group > p {
  padding: 4px 0;
  text-align: left;
}

/* hover */
.container-cardshop__image:hover > button {
  display: block;
}

/* key framse */
@keyframes buttonUp {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
    height: 64px;
  }
}
